* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

@import "variables";

body {
    color: $allText;
    font-family: 'Open Sans', sans-serif;
}
@mixin bold($weightNum) {
    font-weight: $weightNum;
}

@mixin normal {
    font-weight: normal;
}

@mixin tTransform($tTransform) {
    text-transform: $tTransform;
}

@mixin lSpacing($lSpacing) {
    letter-spacing: $lSpacing;
}

@mixin highlight {
    color: $maroon;
}

@mixin headTitle {
    @include bold(800);
    @include highlight;
    @include tTransform(uppercase);
    @include lSpacing(3px);
    padding: 10px 0px;
    text-align: center;
    font-size: 40px;
    background-color: $darkGrey;
}

@mixin region {
    padding: 40px 0px;
    margin-bottom: 1px;
    display: flex;
}

@mixin btmBorder($size, $color) {
    border-bottom: $size solid $color;
}

a {
    text-decoration: none;
    color: $allText;
}

.centerBlock {
    margin: 0px auto;
    width: 80%;
}

//start header
header {
    margin-bottom: 1px;
    padding: 20px;
    background-color: $darkGrey;
    .centerBlock {
        display: flex;
        justify-content: space-between;
        #logo {
            h1 {
                a {
                    font-size: 45px;
                    span {
                        @include highlight;
                    }
                }
            }
        }
        nav {
            ul {
                list-style-type: none;
                display: flex; 
                justify-content: space-around;
                align-items: center;
                margin-top: 14px;
                li {
                    margin: 0px 20px;
                    a {
                        font-size: 24px;
                      
                        &:hover {
                            @include highlight;
                            transition: all 0.2s ease-out;
                        }
                    }
                }
            }
        }
    }
}

//start cover 
#cover {
    margin-bottom: 1px;
    width: 100%;
    background-image: url('../images/cover34.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    .darken {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 10, 0.45);
        z-index: 0;
    }
    #coverQuote {
        position: relative;
        width: 80%;
        margin: 0px auto;
        text-align: right;
        blockquote {
            font-size: 30px;
            @include bold(800);
            &::before {
                content: open-quote;
            }
            &::after {
                content: close-quote;
            }
        }
        h2 {
            font-size: 26px;
            @include highlight;
            @include normal;
        }
    }
}

//start about
.line {
    width: 50px;
    margin: 10px auto;
    background-color: $maroon;
    border: 2px solid $maroon;
    display: none;
}
#about {
    background-color: $lightGrey;
    .headTitle {
        h2 {
            @include headTitle;
        }
        .line {
            display: block;
        }
    }
    .centerBlock {
        #info {
            @include region;
            .imgHolder {
                width: 50%;
                margin-right: 2.5%;
                text-align: center;
                figure {
                    img {
                        border-radius: 50%;
                    }
                    figcaption {
                        font-size: 20px;
                        text-align: center;
                        span {
                            @include highlight;
                        }
                    }
                }
            }
            .textHolder {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                h3 {
                    font-size: 32px;
                    font-weight: normal;
                    @include highlight;
                }
                p {
                    font-size: 24px;
                    margin-left: 1.5em;
                   
                }
            }
        }
    }
   
}

//start skills
#skills {
    margin-bottom:  1px;
    background-color: $lightGrey;
    .headTitle {
        h2 {
            @include headTitle;
        }
        .line {
            display: block;
        }
    }
    .centerBlock {
        #currentSkills {
            padding: 30px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .skill {
                width: 100%;
                display: flex;
                flex-direction: column;
                .progress {
                    width: 100%;
                    height: 20px;
                    background-color: $darkGrey;
                    position: relative;
                }      
                 &.html {
                    margin-right: 2%;
                    .imgHolder {
                        i {
                            color:#e34c26;
                        }
                    }
                    .progress {
                        .pBar {
                            width: 98%;
                            height: 100%;
                            background-color: #e34c26;
                            position: absolute;
                        }
                    }
                }
                &.css {
                    margin-right: 2%;
                    .imgHolder {
                        i {
                            color:#264de4;
                        }
                    }
                    .progress {
                        .pBar {
                            width: 85%;
                            height: 100%;
                            background-color: #264de4;
                            position: absolute;
                        }
                    }
                }
                &.js {
                    margin-right: 2%;
                    .imgHolder {
                        i {
                            color:#f0db4f;
                        }
                    }
                    .progress {
                        .pBar {
                            width: 11%;
                            height: 100%;
                            background-color: #f0db4f;
                            position: absolute;
                        }
                    }
                }
                &.sass {
                    .imgHolder {
                        i {
                            color:#cc6699;
                        }
                    }
                    .progress {
                        .pBar {
                            width: 39%;
                            height: 100%;
                            background-color: #cc6699;
                            position: absolute;
                        }
                    }
                }           
                .imgHolder {
                    text-align: center;
                    i {
                        font-size: 100px;
                    }
                }
                .info {
                    display: flex;
                    justify-content: space-between;
                    h3 {
                        @include normal;
                    }
                }
                
            }
        }
    }
}

//start projects
#projects {
    margin-bottom: 1px;
    background-color: $lightGrey;

    .headTitle {
        h2 {
            @include headTitle;
        }
        .line {
            display: block;
        }
    }
    .centerBlock {
        .projectHolder {
            padding: 30px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .project {
                &:first-child {
                    margin-right: 2%;
                }
                position: relative;
                img {
                   width: 100%;
                }
                .txtoverImg {
                    display: none;
                    opacity: 0;
                    background-color: rgba($maroon, 0.6);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    display: flex;
                    transition: all 0.3s;
                    justify-content: center;
                    align-items: center;
                    .txtHolder {
                        text-align: center;
                        width: 100%;
                        display: none;
                        h3 {
                            font-size: 24px;
                            margin-bottom: 10px;
                        }
                        p {
                            font-size: 20px;
                        }
                    }
                }
                &:hover .txtoverImg {
                    display: flex;
                    opacity: 1;
                    .txtHolder {
                        display: block  ;
                    }
                }
            }

        }
    }
}

//start contact 
#contact {
    margin-bottom: 1px;
    background-color: $lightGrey;
    .headTitle {
        h2 {
            @include headTitle;
        }
        .line {
            display: block;
        }
    }
    .centerBlock {
        .contactHolder {
            padding: 20px 0px;
            display: flex;
            justify-content: space-between;
            .contactTypes {
                width: 50%;
                margin-right: 2%;
                .cType {
                    margin-bottom: 5em;
                    h3 {
                        font-size: 30px;
                        i {
                            &.fa-discord {
                                color: #5865F2;
                            }
                            &.fa-envelope {
                                color: $maroon;
                            }
                        }
                    }
                    p {
                        font-size: 22px;
                        margin-left: 1em;
                        margin-bottom: 2em;
                    }
                }
            }
            .contactForm {
                width: 50%;
                form {
                    display: block;
                    .pack {
                        margin: 10px 0px;
                        display: flex;
                        justify-content: space-between;
                        label {
                            width: 50%;
                            padding: 10px;
                            border: none;
                            color: $allText;
                            font-size: 20px;
                            @include btmBorder(2px, $maroon);
                            text-align: center;
                            margin-right: 2%;
                        }
                        input[type="text"], input[type="email"] {
                            width: 50%;
                            padding: 10px;
                            border: none;
                            color: $allText;
                            font-size: 20px;
                            background-color: $darkerGrey;
                        }          
                    }
                    textarea {
                        margin: 10px 0px;
                        resize: none;
                        width: 95%;
                        padding: 2.5%;
                        border: none;
                        color: $allText;
                        font-size: 20px;
                        background-color: $darkerGrey;
                    }
                    .submit {
                        input[type="submit"] {
                            width: 100%;
                            background-color: $maroon;
                            font-size: 20px;
                            text-transform: uppercase;
                            padding: 10px 20px;
                            border: none;
                            color: $allText;
                         
                            &:hover {
                                cursor: pointer;
                                background-color: $allText;
                                color: $maroon;
                                transition: all 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
}

//start footer 
footer {
    background-color: $darkGrey;
    padding: 15px 0px;
    .centerBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3 {
            font-size: 22px;
            text-transform: uppercase;
            span {
                @include highlight;
            }
        }
        .links {
            a {
                &:nth-child(2) {
                    margin: 0px 40px;
                }
                i {
                    font-size: 30px;
                    &.fa-sass {
                        color: #cc6699;
                    }
                    &.fa-file-code {
                        color: #264de4;
                    }
                }
            }
        }
    }
}

//start btt
#bttBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.3s;
    }
    a {
        i {
            color: $maroon;
            font-size: 24px;
        }
    
    }
}
